# Node dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed

# Compiled output
dist/
build/

# Optional npm cache directory
.npm/

# TypeScript cache
*.tsbuildinfo

# Environment variables
.env

# Mac system files
.DS_Store